<html>
<head>
    <link rel="stylesheet" href="../custom/custom.css">
<script src="../libs/jquery-3.0.0.min.js"></script>
<script src="../controller/contoller.js"></script>
</head>
<body>
    <div>
        <img src="../images/68309.jpg" id="im">
    </div>
       <div id="row">
               <table>

             <tr>
            <td>
                <button id="b1">Fade Out</button>
            </td>
            <td>
                <button id="b2">Fade In</button>
            </td>
            <td>
                <button id="b3">Hide</button>
            </td>
            <td>
              <button id="b4">Show</button>  
                 </td>
            <td>
                <button id="b5">Fade Toggle</button>
            </td>
            <td>
                <button id="b6">Slide Up</button>
            </td>
            <td>
                <button id="b7">Slide Down</button>
            </td>
            <td>
                <button id="b8">Annimate</button>
            </td>
        <td>
            <button id="b9">Show Original</button>
        </td>
        </tr>
           </table>
           </div>
     
</body>
</html>