<html>
<head>
   <link rel="stylesheet" href="../custom/custom.css">
     <script src="../libs/jquery-3.0.0.min.js"></script>
    
</head>
<body>
    
<p>hello1</p>
<p id="p2">hello2</p>
<p>hello3</p>
<p class="myStyle">hello4</p>
<p class="myStyle">hello5</p>
<p class="myStyle">hello6</p>
    
<button onclick="$('p').hide(1000)">click me</button>    
   
   <button onclick="$('#p2').hide(1000)">click me too</button>
    
   <button onclick="$('.myStyle').hide(1000)">click</button>
    
     <div class="divStyle">
         <p>Hello1</p>
         <p>Hello2</p>
         <p>Hello3</p>
         <p>Hello4</p>
         <p>Hello5</p>
         <p>Hello6</p>
     </div>
       <button onclick="$('div p').hide(1000)">div section</button>
        </body>
</html>