<html>
<head>
<script src="../library/jquery-3.0.0.min.js"></script>
 <link rel="stylesheet" href="../custom/custom.css">    
  <script>
    $(document).ready(function(){
        $('table tr:even').addClass('red');
        $('table tr:odd').addClass('green');
    });
    
    </script>  
</head>
<body>
    <table border="2" >
        <tr>
            <td>ram1</td>
            <td>10001</td>
        </tr>
        <tr>
            <td>ram2</td>
            <td>10002</td>
        </tr>
        <tr>
            <td>ram3</td>
            <td>10003</td>
        </tr>
        <tr>
            <td>ram4</td>
            <td>10004</td>
        </tr>
    </table>
</body>
</html>